node_modules/
dist/
.venv/
.env
.DS_Store
.vscode/
.idea/
playwright-report/
test-results/
coverage/
coverage-final.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
loginstate.json
login-state.spec.ts
utils/secure.env
utils/loginstate.json
allure-results/
allure-report/
